
body, a{
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    background-color: #292C33;
    font-size: 12px;
    margin: 10px;
    min-height: 300px;
    padding: 0;
    text-align: center;
    min-width: 250px;
}
table{
    width: 150px;
}
th{
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 10px;
    width: 65px;
}
td{
    padding: 10px;
    margin: 0;
}
ul{
    list-style: none;
    padding: 5px;
    margin: 0;
    background-color: #141619;
}
li{
    display: inline;
    float: center;
}
.head a:hover{
    background-color: goldenrod; 
}
.head a{
    text-decoration: none;
    background-color: #141619; 
    padding: 2.5px;
}
.head i{
    font-size: 10px;
}
.title{
    font-size: 20px;
    font-weight: 600;
}
.foot{
    font-size: 7.5px;
}
.head, .foot{
    margin-top: 5px;
    margin-bottom: 5px;
}
.foot img{
    margin-top: 2.5px;
}
/*.flexbox {
    display: flex;
}*/